<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LocalModelRepository" value="d:\ModelRepository" />

    <!--Assuming the ranges of tuning parameters and default LDA config are saved at local model repository.-->
    <add key="DefaultModelConfig" value="d:\ModelRepository\TuneLDAParameters\defaultLDAConfig_intl_de-de.json" />
    <add key="TrainingSampleName" value="20150714_100.de-de.tsv" />
    <add key="TestSampleName" value="20150714_100.de-de.test.tsv" />
    <add key="NeedCopyToRemote" value="true" />
    <add key="NeedDeleteFromLocal" value="true" />
    <add key="RemoteModelRepository" value="\\br1iceproj003\ModelRepository" />
    <add key="NeedLoadLDAConfigFiles" value="false" />
    <add key="FolderOfLDALearningConfigFiles" value="d:\ModelRepository\TuneLDAParameters\LDALearningConfigFiles" />
    <add key="NeedLoadLDAParameterTable" value="false" />
    <add key="LDAParameterTablePath" value="d:\ModelRepository\TuneLDAParameters\RangesOfParams\LDAParameterTable.tsv" />
    <add key="NeedDeleteConfig" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
