<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <!--the repositories for metrics processor to process.-->
    <add key="ModelRepositoriesForMetrics" value="\\br1iceml001\ModelRepository,\\br1iceml002\ModelRepository,\\br1icesrch001\ModelRepository,\\minint-4985gu2\ModelRepository"/>
  </appSettings>
</configuration>
