<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="maxDocumentsToLoad" value="1500" />      <!-- Default number of sample documents to load for verifying the model -->
      <add key="outputFolderName" value="build" />       <!-- Subfolder, relative to the location of the input model, where the truncated files will be placed -->

      <!-- Names of input model files, expected under the Model Input path -->
      <add key="documentTermFrequenciesInputFile" value="FeaturizedDocuments.txt" />
      <add key="documentTopicAllocationsInputFile" value="DocumentTopicAllocations.txt" />
      <add key="wordTopicAllocationsInputFile" value="WordTopicAllocations.txt" />
      <add key="countOfHeaderLinesInWordTopicAllocationsFile" value="11" />

      <!-- Names of truncated model files after processing. These will be placed under outputFolderName.
      These files are the input into the Dtsx jobs that will load them into the TopicBrowser Db
      -->
      <add key="truncatedDocumentTermFrequenciesOutputFile" value="DocumentWordFrequencies.txt" />
      <add key="truncatedDocumentTopicAllocationsOutputFile" value="DocumentTopicAllocations.txt" />
      <add key="truncatedWordTopicAllocationsOutputFile" value="WordTopicAllocations.txt" />
      
      <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
</configuration>