
/* CREATE SERVER LOGINS IF NEEDED, THEN DB USERS AND ADD THEM TO THE RIGHT DB ROLE */



/* EXAMPLE:  For JohnDoe, remove the comment tags below */
/*
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'REDMOND\oswaldor')
CREATE LOGIN [REDMOND\JohnDoe] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
CREATE USER [REDMOND\JohnDoe] FOR LOGIN [REDMOND\JohnDoe] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [TopicBrowserWrite] ADD MEMBER [REDMOND\JohnDoe]
GO
*/