
/* CREATE SEPARATE DB ROLES FOR READ-ONLY AND UPDATE/INSERT/DELETE PERMISSIONS */
CREATE ROLE [TopicBrowserRead]
GO
CREATE ROLE [TopicBrowserWrite]
GO
ALTER ROLE [TopicBrowserRead] ADD MEMBER [TopicBrowserWrite]
GO

/* CREATE SERVER LOGINS IF NEEDED, THEN DB USERS AND ADD THEM TO THE RIGHT DB ROLE */
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'REDMOND\oswaldor')
CREATE LOGIN [REDMOND\oswaldor] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
CREATE USER [REDMOND\oswaldor] FOR LOGIN [REDMOND\oswaldor] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [TopicBrowserWrite] ADD MEMBER [REDMOND\oswaldor]
GO

IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'REDMOND\segokalp')
CREATE LOGIN [REDMOND\segokalp] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
CREATE USER [REDMOND\segokalp] FOR LOGIN [REDMOND\segokalp] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [TopicBrowserWrite] ADD MEMBER [REDMOND\segokalp]
GO

IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'REDMOND\gswami')
CREATE LOGIN [REDMOND\gswami] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
CREATE USER [REDMOND\gswami] FOR LOGIN [REDMOND\gswami] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [TopicBrowserWrite] ADD MEMBER [REDMOND\gswami]
GO

IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'REDMOND\Mhogue')
CREATE LOGIN [REDMOND\Mhogue] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
CREATE USER [REDMOND\Mhogue] FOR LOGIN [REDMOND\Mhogue] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [TopicBrowserRead] ADD MEMBER [REDMOND\Mhogue]
GO

IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'REDMOND\gsheldon')
CREATE LOGIN [REDMOND\gsheldon] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
CREATE USER [REDMOND\gsheldon] FOR LOGIN [REDMOND\gsheldon] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [TopicBrowserRead] ADD MEMBER [REDMOND\gsheldon]
GO

IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'REDMOND\shnerurk')
CREATE LOGIN [REDMOND\shnerurk] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
CREATE USER [REDMOND\shnerurk] FOR LOGIN [REDMOND\shnerurk] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [TopicBrowserRead] ADD MEMBER [REDMOND\shnerurk]
GO

IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'REDMOND\rogerche')
CREATE LOGIN [REDMOND\rogerche] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
CREATE USER [REDMOND\rogerche] FOR LOGIN [REDMOND\rogerche] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [TopicBrowserRead] ADD MEMBER [REDMOND\rogerche]
GO

IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'REDMOND\jayongg')
CREATE LOGIN [REDMOND\jayongg] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
CREATE USER [REDMOND\jayongg] FOR LOGIN [REDMOND\jayongg] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [TopicBrowserRead] ADD MEMBER [REDMOND\jayongg]
GO

/* ADD A FEW FOLKS TO SYSADMIN ROLE, SO THEY CAN MANAGE THE DB */
ALTER SERVER ROLE [sysadmin] ADD MEMBER [REDMOND\oswaldor]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [REDMOND\segokalp]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [REDMOND\gswami]
GO

