USE [master]
GO

/****** Object:  Database [TopicBrowserLDA]    Script Date: 7/9/2014 2:21:32 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'TopicBrowserLDA')
BEGIN
CREATE DATABASE [TopicBrowserLDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TopicBrowserLDA', FILENAME = N'D:\MSSQL\DATA\TopicBrowserLDA_Data.mdf' , SIZE = 100GB , MAXSIZE = UNLIMITED, FILEGROWTH = 10% )
 LOG ON 
( NAME = N'TopicBrowserLDA_log', FILENAME = N'E:\MSSQL\LOGS\TopicBrowserLDA_log.ldf' , SIZE = 100GB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TopicBrowserLDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

